* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vh;
  margin: auto;
}
img {
  width: 250px;
  max-width: 100%;
  object-fit: contain;
}
.img {
  width: 300px;
}
.frist-sec {
  display: flex;
}
.header {
  padding-top: 20px;
}
.width-50 {
  width: 50%;
  margin: 10px;
}
.yellow {
  color: rgb(245, 121, 148);
}
.btn {
  border-radius: 7px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  background-color: coral;
  color: #ffff;
  border: none;
}
h1 {
  font-size: 48px;
}
.mission h1 {
  text-align: center;
}
.missin {
  display: flex;
}
.card {
  flex-basis: 33%;
  margin: 7px;
  margin-top: 20px;
}
.card1 {
  background-color: skyblue;
  padding: 10px;
  border-radius: 6px;
}

.card2 {
  background-color: seagreen;
  padding: 10px;
  border-radius: 6px;
}
.card3 {
  background-color: slateblue;
  padding: 10px;
  border-radius: 6px;
}
.devlop {
  display: flex;
  margin-top: 35px;
}
.content {
  margin-top: 40px;
}
a {
  text-decoration: none;
}
.section-title {
  text-align: center;
  margin: 35px;
}
.footer {
  background-color: black;
  color: #ffff;
  text-align: center;
  padding: 30px;
}
.footer p {
  padding: 10px;
  font-size: 17px;
  color: rgb(133, 131, 131);
}
